body {
  background-color: black;
}

.contenedor-pagina {
  height: 800px;
}
.contenedor-individual {
  height: 150px;
}

.contenedor-individual:hover {
  box-shadow: 0 0 15px #ffffffb3;
}

.contenedor-componente {
  height: auto;
}

.contenedor-componente:hover {
  cursor: grab;
}

.contenedor-componente:active {
  cursor: grabbing;
}
.fondo {
  background: white;
  top: 50%;
  left: 50%;
  border-radius: 10px;
}
.fondo:active {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.num {
  text-align: center;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 3px white;
  height: 100%;
  margin: 0 1px;
  padding: 10px 10px;
  font-size: 30px;
}

.boton-valor:hover {
  text-shadow: 0 0 4px white;
}

.boton-parar:hover {
  background-color: #fcfcae !important;
}
.boton-reiniciar:hover {
  background-color: rgb(251, 155, 155) !important;
}
.boton-empezar:hover {
  background-color: rgb(135, 204, 135) !important;
}

.tiempo-usuario {
  font-size: 50px;
  font-weight: 900;
}

.rounded-izquierdo {
  border-bottom-left-radius: 5px !important;
}
.rounded-derecho {
  border-bottom-right-radius: 5px !important;
}
